<div *ngIf="isLoading" style="height:80vh;" class="row center-xs middle-xs">
    <img class="center" style="max-width: 100%;" src="../assets/images/loading-bar.gif" alt="">
</div>

<div *ngIf="!isLoading" [@fadeInOut]>
    <div class="row between-xs">
        <img src="../assets/images/logo.png" />
        <a class="btn" (click)="toggleCategoryContainer()">New Category</a>
    </div>

    <div *ngIf="showCategoryContainer" [@fadeInOut] style="height:30vh;" class="row center-xs middle-xs">
        <div class="box col-lg-4 col-md-6 col-xs-12 paper-container">
            <div class="row center-xs">
                <span>Add New Category</span>
            </div>
            <div class="row center-xs">
                <input [(ngModel)]="category" name="category" type="text" autocomplete="off" />
            </div>
            <div class="row between-xs">
                <a class="btn" (click)="toggleCategoryContainer()">Cancel</a>
                <a class="btn" (click)="addCategory()">Add Category</a>
            </div>
        </div>
    </div>

    <div *ngIf="showItemContainer" [@fadeInOut] style="height:30vh;" class="row center-xs middle-xs">
        <div class="box col-lg-4 col-md-6 col-xs-12 paper-container">
            <div class="row center-xs">
                <span>Add New Item</span>
            </div>
            <div class="row center-xs">
                <input [(ngModel)]="item" name="item" type="text" autocomplete="off" />
            </div>
            <div class="row between-xs">
                <a class="btn" (click)="toggleItemContainer()">Cancel</a>
                <a class="btn" (click)="addItem()">Add Item</a>
            </div>
        </div>
    </div>

    <div *ngIf="!showItemContainer && !showCategoryContainer" [@fadeInOut]>
        <div *ngFor="let list of shoppingList">
            <div class="row">
                <h2>{{list.title}} <a class="btn inline" (click)="toggleItemContainer(list._id)">+</a></h2>
            </div>
            <div class="row col-lg-6 col-xs-12" *ngIf="list.items">
                <ol class="continuous-list">
                    <a class="done-trigger" (click)="toggleDone(item)" *ngFor="let item of list.items">
                        <li [ngClass]="{'done':item.isDone}">{{item.title}}</li>
                    </a>
                </ol>
            </div>
        </div>
    </div>
</div>